<h1>Início</h1>

<li> <%= link_to "Restaurantes", controller: "restaurantes", action: "index" %></li>
<li> <%= link_to "Clientes", controller: "clientes", action: "index" %></li>
<li> <%= link_to "Qualificações", controller: "qualificacoes", action: "index" %></li>
<li> <%= link_to "Comentários", controller: "comentarios", action: "index"  %></li>
